.navigation {
    @extend %cover;

    position: fixed;
    color: $color-quarter-spanish-white;
    pointer-events: none;
    z-index: z('navigation');
}
.navigation__link{
   position: absolute; 
   left: 4rem;
   top: 4rem;
   height: 2rem;
   width: 12.8rem;
   pointer-events: auto;

   @include media('<phone') {
    height: 43rem;  
    left: 5rem;
    top: 5rem;
    width: 27.9rem;
   }
}

.navigation__link__icon {
    display: block;
}
.navigation__list {
    
}
.navigation__list__item {
    pointer-events: auto;
    position: absolute;
    right: 4rem;
    top: 4rem;
}
.navigation__list__link {
    @extend %title-20;

    display: block;
}
